body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}


.quadrado {
  border:2px solid purple;
  float: left;
  text-align: center;
  padding-top: 20px;
  background-color: white;
  width: 85px;
  height: 85px;
}


.jogo {
  display: flex;
  
  
}
.botao{
      margin-left: auto;
			height: 100px;
			
}
div{
  margin: auto;
}